<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta id="isAdmin" th:content="${currentUser != null and currentUser.isAdmin()}"/>
    <meta th:if="${currentUser != null}" id="currentUsername" th:content="${currentUser.getUsername()}"/>
    <meta id="articleId" th:content="${article.getId()}" />

    <title th:text="${article.getTitle()}"></title>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0-beta-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/font-awesome/5.0.6/web-fonts-with-css/css/fontawesome-all.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>

<body th:class="${#themes.code('body.class')}">

<div th:replace="fragments/header :: header"></div>

<div th:class="'container mt-4 pt-3 pb-5 ' + ${#themes.code('body.class')}">
    <div id="pdf">
        <div class="row">
            <div class="text-left col">
                <h2 class="header" th:text="${article.getTitle()}"></h2>
                <div class="mt-2">
                    <span class="font-italic" th:text="#{article.author}+':'"></span>
                    <a class="font-italic" th:href="@{'/user/' + ${article.getAuthor().getUsername()}}"
                       th:text="${article.getAuthor().getUsername()}"></a>
                    <br/>
                    <span class="font-italic" th:text="#{article.date}+':'"></span>
                    <b class="font-italic" th:text="${timestamp}"></b>
                    <br/>
                    <span class="font-italic" th:text="#{article.category}+':'"></span>
                    <b class="font-italic" th:text="${article.getCategory().getName()}"></b>
                </div>
            </div>
            <div class="text-right col">
                <image th:src="${article.getImage().getData()}" width="640px" height="360px"></image>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <p th:text="${article.getContent()}"></p>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <div class="col-md-6">
            <h5 class="mb-4" th:text="#{article.rating}">Rating</h5>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${currentUserRating == null}" class="row">
                    <div class="col-md-1 mr-1">
                        <i class="far fa-thumbs-up clickable-icon" style="font-size:48px" id="like"></i>
                    </div>
                    <div class="col-md-1 ml-1">
                        <i class="far fa-thumbs-down clickable-icon" style="font-size:48px" id="dislike"></i>
                    </div>
                </div>
                <div th:if="${currentUserRating != null}" class="row">
                    <div class="col-md-1 mr-1">
                        <span class="text-right">
                            <i th:if="${currentUserRating.getValue() == T(fyodor.model.Rating.RatingEnum).LIKE}"
                               class="fas fa-thumbs-up clickable-icon" style="font-size:48px" id="like"></i>
                            <i th:if="${currentUserRating.getValue() == T(fyodor.model.Rating.RatingEnum).DISLIKE}"
                               class="far fa-thumbs-up clickable-icon" style="font-size:48px" id="like"></i>
                        </span>
                    </div>
                    <div class="col-md-1 ml-1">
                        <span class="text-left">
                            <i th:if="${currentUserRating.getValue() == T(fyodor.model.Rating.RatingEnum).LIKE}"
                               class="far fa-thumbs-down clickable-icon" style="font-size:48px" id="dislike"></i>
                            <i th:if="${currentUserRating.getValue() == T(fyodor.model.Rating.RatingEnum).DISLIKE}"
                               class="fas fa-thumbs-down clickable-icon" style="font-size:48px" id="dislike"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 mr-1">
                    <span id="likes-number" th:text="${likesNumber}"></span><i class="fas fa-long-arrow-alt-up"
                                                                               style="color:#00FF00"></i>
                </div>
                <div class="col-md-1 ml-1">
                    <span id="dislikes-number" th:text="${dislikesNumber}"></span><i
                        class="fas fa-long-arrow-alt-down"
                        style="color:#FF0000"></i>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button class="btn btn-success btn-lg mb-2" id="pdf-btn" th:text="#{article.btn.saveAsPdf}">Save as
                        PDF
                    </button>
                </div>
            </div>
            <div th:if="${(currentUser != null) and (currentUser.getId() == article.getAuthor().getId() or currentUser.isAdmin())}"
                 class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-secondary mb-2">
                        <a th:text="#{article.edit}" th:href="@{'/article/edit/' + ${article.getId()}}">Edit article</a>
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger mb-2" id="btn-article-delete"
                            th:text="#{article.delete}">
                        Delete article
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="comment-block">
        <h5 class="contents pt-5 mb-2" th:text="#{article.comments}">Comments</h5>
        <div id="comments">
            <div class="row" th:each="comment : ${article.getComments()}" th:id="|comment-${comment.getId()}|">
                <div class="col-md-6 border border-left-0 border-right-0">
                    <div class="row mt-1">
                        <div class="col-md-5">
                            <span><b>by</b>
                                <a th:id="|comment-author-${comment.getId()}|" th:href="@{'/user/' + ${comment.getAuthor().getUsername()}}" class="font-weight-bold"
                                   th:text="${comment.getAuthor().getUsername()}"></a>
                            </span>
                        </div>
                        <span th:id="|comment-timestamp-${comment.getId()}|" class="col-md-5" th:text="${timestamps.get(comment.getId())}"></span>
                        <div sec:authorize="isAuthenticated()" class="text-right">
                            <span th:if="${comment.getAuthor().getId() == currentUser.getId()}"
                                  th:onclick="|editComment(${comment.getId()})|" class="clickable-icon" th:id="|btn-edit-${comment.getId()}|"
                                  th:value="${comment.getId()}">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span th:if="${comment.getAuthor().getId() == currentUser.getId() or currentUser.isAdmin() == true}"
                                      th:onclick="|delComment(${comment.getId()})|" class="clickable-icon" th:id="|btn-del-${comment.getId()}|"
                                      th:value="${comment.getId()}">
                                <i class="fas fa-trash-alt  mr-2 mt-2"></i>
                            </span>
                        </div>
                    </div>
                    <div class="pl-3 row">
                        <p class="mt-1" th:id="|comment-text-${comment.getId()}|" th:text="${comment.getText()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div class="row">
            <div class="col-md-6">
                    <textarea class="form-control mt-3 textarea" rows="5" id="textarea-comment"
                              th:placeholder="#{article.comment.write}"></textarea>
            </div>
        </div>

        <div id="comment-add-errors"></div>

        <div class="row mt-1">
            <div class="col-md-1">
                <button type="button" class="btn btn-secondary btn-sm" id="btn-comment-add"
                        th:text="#{article.comment.add}">Add comment
                </button>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/webjars/jquery/3.2.0/jquery.min.js" type="text/javascript"></script>
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<script src="/webjars/bootstrap/4.0.0-beta-1/js/bootstrap.min.js" type="text/javascript"></script>

<script th:src="@{'/js/i18n/lang_' + #{locale} + '.js'}" type="text/javascript"></script>

<script th:src="@{/js/article.js}" type="text/javascript"></script>

<script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/article-comment.js}" type="text/javascript"></script>
<script th:src="@{/js/article-comment-edit.js}" type="text/javascript"></script>

<script th:src="@{/js/article-rating.js}" type="text/javascript"></script>

<script th:src="@{/html2pdf/jspdf.min.js}" type="text/javascript"></script>
<script th:src="@{/html2pdf/html2canvas.min.js}" type="text/javascript"></script>
<script th:src="@{/html2pdf/html2pdf.js}" type="text/javascript"></script>
<script th:src="@{/js/article-pdf.js}" type="text/javascript"></script>

</body>
</html>